body {
  min-height: 100%;
  padding-bottom: 4rem;
}

.close {
  color: orange;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: bold;
  border: 1px solid orange;
  text-transform: uppercase;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}